body, html {
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.streams {
  stroke: blue;
  stroke-width: 1px;
  fill: none;
}

.crossings {
  stroke: black;
  fill: yellow;
  opacity: 1;
}

.crossings:hover {
  cursor: crosshair;
}

.huc8 {
  fill: tan;
  stroke: black;
  stroke-width: 3px;
  fill-opacity: 0.2;
  stroke-opacity: 1;
}

.catchments {
  fill: red;
  stroke: whitesmoke;
  stroke-width: 1px;
  fill-opacity: 1;
  stroke-opacity: 1;
}


.catchments:hover {
  stroke: magenta;
  stroke-width: 2px;
  cursor: crosshair;
}

.streams:hover {
  cursor: crosshair;
}

.d3Tooltip {
  background: rgba(0,0,0,0.7);
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 4px;
  color: yellow;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding: 7px;
  position: absolute;
  z-index: 10;
  visibility: hidden;
}

.leaflet-bar a {
  opacity: 0.6; 
}

.leaflet-bar a:hover {
  opacity: 1;
}

.leaflet-control-scale-line, .leaflet-control-scale-line:not(:first-child) {
  background: rgba(255,255,0,0.6);
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  border-color: black;
  margin: 5px;
  margin-left: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  text-align: center;
}

#crossListDiv {
  position: absolute;
  right: 47%;
  top: 5px;
  z-index: 2;
}

#crossList {
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  border-color: black;
  margin: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  opacity: 0.7;
}

#crossList:hover {
  opacity: 1;
}

.hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.legend {
  position: absolute;
  top: 5px;
  max-width: 300px;
  width: 100%;
  background: rgba(255,255,255,0.8);
  border: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 4px;
}

#legendDiv {
  left: 5%;
}

#filters {
  right: 5%;
  max-width: 410px;
}

#crossingsFilterTitle {
  font-weight: bold;
  margin: 0px;
  margin-left: 9px;
  display: inline-block;
}

#catchmentsFilterTitle {
  font-weight: bold;
  float: right;
  margin: 0px;
  margin-right: 9px;
  margin-top: 3px;
  display: inline-block;
}

#crossingsFilterSelect {
  margin-top: 0px;
}

#catchmentsFilterSelect {
  position: absolute;
  right: 5px;
  margin-top: 0px;
}


#charts {
  background: rgba(255,255,255,1);
  padding: 0px;
  max-height: 500px;
}

.chart {
  margin: 7px;
}

.legTitle {
  text-align: center;
  margin: 2px;
  font-weight: bold;
  }

.legAttrSel {
  width: 35%;
  margin: 0 auto;
}

#filterSelect {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.legAttrList {
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  border-color: black;
  margin: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  opacity: 0.7;
}

.legAttrList:hover {
  opacity: 1;
}

.crossings-list-inline, .catchments-list-inline {
  padding: 0px;
  margin: 2px;
  display: flex;
  flex-direction: row;
}  

li.key {
  background: rgba(255,255,255,0.75);
  border-top-width: 15px;
  border-top-style: solid;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  font-weight: bold;
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
  display: inline-block;
  float: left;
  flex-grow: 1;
  flex-basis: 0;
}

     li.key:hover {
  background: rgba(255,255,255,1);
     }
